{% extends 'base.html' %}
{% load static %}

{% block page_css %}
    {#    <link rel="stylesheet" href="{% static 'plugins/daterangepicker/daterangepicker.css' %}">#}
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock %}

{% block page_header %}
    Profile
{% endblock %}

{% block page_breadcrumb %}
    {% include 'partial/base/base_breadcrumb.html' with paths=breadcrumb %}
{% endblock %}



{% block page_body %}


    <div class="row">
        <div class="col-md-3">

            <div class="card card-primary card-outline">
                <div class="card-header">
                    <h3 class="card-title">
                        {{ user.first_name }} {{ user.last_name }}
                    </h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">

                    <strong><i class="fas fa-file-medical mr-1"></i> Blood Group</strong>

                    <p class="text-muted">
                        {{ user.blood_group }}

                        <i class="fas fa-check-circle ml-2 {% if user.can_donate %}text-success{% else %}text-danger{% endif %}"></i>
                    </p>

                    <hr>
                    <strong><i class="fas fa-book mr-1"></i> Address</strong>

                    <p class="text-muted">
                        {{ user.address }}
                    </p>

                </div>

            </div>

        </div>


        <div class="col-md-9">
            <div class="card">
                <div class="card-header p-2">
                    <ul class="nav nav-pills">
                        <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">Activity</a>
                        </li>


                        <li class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab">Settings</a></li>
                    </ul>
                </div><!-- /.card-header -->
                <div class="card-body">
                    <div class="tab-content">
                        <div class="active tab-pane" id="activity">
                            <div class="row">
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3 class="card-title">Update your blood donation status</h3>
                                        </div>
                                        <div class="card-body">
                                            <form method="post" action="{% url 'donation-status' %}">
                                                {% csrf_token %}
                                                <!-- Date -->
                                                <div class="row">
                                                    <div class="col-8">
                                                        <div class="form-group">
                                                            <input type="text" name="donationDate" id="donationDate"
                                                                   class="form-control"
                                                                   placeholder="Select a date">
                                                        </div>
                                                    </div>
                                                    <div class="col-4">
                                                        <button type="submit" class="btn btn-primary btn-block">
                                                            Update
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>

                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-body table-responsive p-0" style="height: 300px;">
                                            <table class="table table-head-fixed text-nowrap">
                                                <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th colspan="3" class="text-right">Donation Date</th>
                                                </tr>
                                                <tbody>
                                                {% for donation in donation_history %}
                                                    <tr>
                                                        <td>{{ forloop.counter0 }}</td>
                                                        <td colspan="3"
                                                            class="text-right">{{ donation.donation_date|date:"F d, Y" }}</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- /.tab-pane -->


                        <div class="tab-pane" id="settings">
                            <form method="post" action="{% url 'update-profile' %}">
                                {% csrf_token %}
                                <div class="form-group row">
                                    <label for="first_name" class="col-sm-2 col-form-label">First Name</label>
                                    <div class="col-sm-10">
                                        <input type="text" name="first_name" class="form-control" id="first_name"
                                               placeholder="First Name" required>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="last_name" class="col-sm-2 col-form-label">Last Name</label>
                                    <div class="col-sm-10">
                                        <input type="text" name="last_name" class="form-control" id="last_name"
                                               placeholder="Last Name" required>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="phone" class="col-sm-2 col-form-label">Phone</label>
                                    <div class="col-sm-10">
                                        <input type="number" name="phone" class="form-control" id="phone"
                                               placeholder="Phone" required>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="lat" class="col-sm-2 col-form-label">Latitude</label>
                                    <div class="col-sm-10">
                                        <input type="number" name="lat" class="form-control" id="lat"
                                               placeholder="Latitude" required>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="long" class="col-sm-2 col-form-label">Longitude</label>
                                    <div class="col-sm-10">
                                        <input type="number" name="long" class="form-control" id="long"
                                               placeholder="Longitude" required>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="address" class="col-sm-2 col-form-label">Address</label>
                                    <div class="col-sm-10">

                                        <textarea name="address" class="form-control" rows="3" id="address"
                                                  placeholder="Address" required></textarea>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="blood_group" class="col-sm-2 col-form-label">Blood Group</label>
                                    <div class="col-sm-10">
                                        <select name="blood_group" class="custom-select rounded-0" id="blood_group"
                                                required>
                                            <option disabled>select blood group</option>
                                            {% for blood_group in blood_groups %}
                                                <option value="{{ blood_group }}">{{ blood_group }}</option>
                                            {% endfor %}

                                        </select>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-2"></div>
                                    <div class="col-sm-10">
                                        <div class="icheck-primary">
                                            <input type="checkbox" id="can_donate" name="can_donate" value="can"
                                                   />
                                            <label for="can_donate">
                                                Can donate blood
                                            </label>
                                        </div>
                                    </div>
                                </div>


                                <div class="form-group row">
                                    <div class="offset-sm-2 col-sm-10">
                                        <button type="submit" class="btn btn-primary">Update</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- /.tab-pane -->
                    </div>
                    <!-- /.tab-content -->
                </div><!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
{% endblock %}


{% block page_script %}
    {#    <script src="{% static 'plugins/daterangepicker/daterangepicker.js' %}"></script>#}

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


    <script>


        $(function () {

            $('#donationDate').datepicker()
        })

    </script>
{% endblock %}
