{% extends 'auth.html' %}
{% load static %}
{% block auth_body %}
    <div class="card">
        <div class="card-body register-card-body">
            <p class="login-box-msg">Register a new membership</p>

            <form method="post" action="{% url 'signup' %}">
                {% csrf_token %}

                {#first name#}
                {% include 'temp/auth_form_input_helper.html' with form_attribute=form.first_name icon_class="fas fa-user" %}

                {#last name#}
                {% include 'temp/auth_form_input_helper.html' with form_attribute=form.last_name icon_class="fas fa-user" %}

                {#email#}
                {% include 'temp/auth_form_input_helper.html' with form_attribute=form.email icon_class="fas fa-envelope" %}

                {#phone#}
                {% include 'temp/auth_form_input_helper.html' with form_attribute=form.phone icon_class="fas fa-phone" %}

                {#password#}
                {% include 'temp/auth_form_input_helper.html' with form_attribute=form.password icon_class="fas fa-lock" %}

                {#blood_group#}
                {% include 'temp/auth_form_input_helper.html' with form_attribute=form.blood_group icon_class=None %}

                {#latitude#}
                {% include 'temp/auth_form_input_helper.html' with form_attribute=form.lat icon_class="fas fa-map-marker-alt" %}

                {#longitude#}
                {% include 'temp/auth_form_input_helper.html' with form_attribute=form.long icon_class="fas fa-map-marker-alt" %}

                {#address#}
                {% include 'temp/auth_form_input_helper.html' with form_attribute=form.address icon_class=None %}

                <div class="row">
                    <div class="col-8">
                        <div class="icheck-primary">
                            <input type="checkbox" id="agreeTerms" name="terms" value="agree" required/>
                            <label for="agreeTerms">
                                I agree to the <a href="#">terms</a>
                            </label>
                        </div>
                    </div>
                    <div class="col-4">
                        <button type="submit" class="btn btn-primary btn-block">
                            Register
                        </button>
                    </div>
                </div>
            </form>


            <div class="mt-3">
                <a href="{% url 'login' %}" class="text-center"
                >I already have a membership</a
                >
            </div>
        </div>
        <!-- /.form-box -->
    </div>
{% endblock %}
